.about {
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
    padding: 100px 100px;
}

.img1 {
    width: 400px;
    position: relative;
    top: 0;
    left: 0;
    /*border: 1px solid #000000;*/
}

.img2 {
    width: 300px;
    position: absolute;
    top: 150px;
    left: 200px;
    /*border: 1px solid #000000;*/
}

.parent{
    position: relative;
}

.parentText{
    padding: 50px 100px; ;
}

.aboutText {
    color: goldenrod;
    font-size: 30px;
    font-weight: 500;
}

.bestBurgerText {
    width: 140%;

}

.bestBurgerText div{
    width: 100%;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 650;
    margin-bottom: 50px;
    height: 20px;
}

.textContent{
    width: 140%;
    padding-top: 30px;
    color: grey;
    font-size: 18px;
}