.register{

}

.text {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;

}

.form {
 text-align: center;
}

.form div{
    margin-top: 15px;
}

.rememberMe {
    font-size: 15px;
    font-weight: 400;
    color:white;
}

.formButton {
    width: 120px;
    height: 50px;
    border: #F0542C 1px solid;
    color:#F0542C;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
    /*margin-left: 300px;*/
}

.formButton:hover {
    width: 120px;
    height: 50px;
    border: #F0542C 1px solid;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    background-color: #F0542C;
}