*{
    box-sizing: border-box;
}

.supportInfo {
    display: grid;

    grid-template-areas:
     "a b";
    grid-template-columns: 22% 78%;

}

.icon{
    grid-area: a;
}
.icon img{
    width: 50px;
}
.info {
   grid-area: b;
}

.mainText{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.secondText{
    font-size: 18px;
    font-weight: 400;
    color: grey;
}